---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=person1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_lg3pT5tmTTjZpIdErdEP4lmt
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_94XEJzo5UvxAFl",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_94XEJzo5UvxAFl/cards"
          },
          "created": 1472132695,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "person1@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_94XEJzo5UvxAFl/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_94XEJzo5UvxAFl/subscriptions"
          }
        }
  recorded_at: Thu, 25 Aug 2016 13:44:55 GMT
recorded_with: VCR 2.9.3
