.container
  .row
    .col-sm-8.col-sm-offset-2
      .static-page
        h1 itemprop="title" Return Policy
        p
          ' This Return Policy applies to the Site and all products and services offered by Onebidone LLC.
          ' Onebidone LLC is not responsible for any returns and exchanges.
          ' All the returns and exchanges must be handled by a seller within the return policy guidelines of 1bid1.com.
        p
          ' Money refund option is available as well as exchange option if the same item is available in a different color,
          ' size or a suitable substitution for a different item. 1bid1 is willing to provide assistance in communication
          ' between buyers and sellers in handling returns or exchanges. Any user who fails to follows the
          ' guidelines set up by 1bid1 will be suspended from using the website until further notice.
          ' All the items posted on 1bid1.com can be returned to sellers within 30 days from the moment of being received.
          ' Items must be unused and in the original packaging.
