.has-success, .has-error, .has-warning {
  .control-label {
    color: inherit;
  }
}

.has-success .form-control {
  border-color: #60b760;

  &:focus {
    border-color: #60b760;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 157, 0, .2);
  }
}

.has-error .form-control {
  border-color: #ff6565;

  &:focus {
    border-color: #ff6565;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 101, 101, .2);
  }
}

.has-warning .form-control {
  border-color: #ffa800;

  &:focus {
    border-color: #ffa800;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(229, 151, 0, .2);
  }
}
