.concept-explanation {
  margin-top: 50px;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .number {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    font-weight: bold;
  }
}