[class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reflect {
  transform: rotateY(180deg);
}

.icon-caret-down:before {
  content: "\f0d8";
}

.icon-caret-up:before {
  content: "\f0d9";
}

.icon-caret-left:before {
  content: "\f0da";
}

.icon-caret-right:before {
  content: "\f0db";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-star:before {
  content: "\f005";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-gavel:before {
  content: "\f0e3";
}

.icon-exclamation:before {
  content: "\f12a";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-plus:before {
  content: "\f067";
}

.icon-truck:before {
  content: "\f0d1";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-dollar:before {
  content: "\f155";
}

.icon-sign-out:before {
  content: "\e602";
}

.icon-search:before {
  content: "\f002";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-lock:before {
  content: "\f023";
}

.icon-exclamation-circle:before {
  content: "\f06a";
}

.icon-eye:before {
  content: "\f06e";
}

.icon-eye-slash:before {
  content: "\f070";
}

.icon-share-alt:before {
  content: "\f1e0";
}

.icon-hammer:before {
  content: "\e601";
}

.icon-banknote:before {
  content: "\e600";
}

.icon-user:before {
  content: "\f007";
}

.icon-group:before {
  content: "\f0c0";
}
