$black: #000;

$body-text-color: #2a2b2c;
$red-color: #ff6565;
$green-color: #00c486;
$darker-green-color: #00a651;
$green-bright: #37c605;
$orange-color: #ffa800;
$orange-dark: #ff873e;
$gray-color: #777777;
$lighter-gray-color: #ebebeb;
$link-color: #4a90e2;
$link-hover-color: #2675d1;
$link-visited-color: #1e6ac0;
$blue-right-very: #eef7fa;

$grey-light: #a8a8a8;
$grey-lighter: #d8d8d8;
$grey-light-very: #e9e9e9;

// inputs
$input-focused-color: #77d5ed;
$input-color: #b5b5b5;
$input-border-radius: 5px;

// Tiles
$title-border-color: #e6e6e6;

$main-header-height: 90px;
$main-footer-height: 170px;
