p
  | You have new product "#{@product.title}" for moderation.
p
  | If you want to see product, do it #{link_to 'here', product_url(@product)} or see in moderation list  #{link_to 'here', admin_moderation_index_url}.