- content_for :meta
  title = seo_title_for_category(category)
  meta name="description" content="Best auction where you can bid and buy new, used, remanufactured and antique #{category.name.downcase}"

