<div class="container">
  <%= render 'breadcrumbs' %>
  <div class="row">
    <div itemscope="" itemtype="http://schema.org/Product">
      <div class="col-md-8">
        <h1 itemprop="name"><%= @product.title %></h1>
      </div>
      <div class="col-md-4">
        Rechts
      </div>
    </div>
  </div>
</div>